# Dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/
*.orig.*

# Firebase credentials & service accounts
*.json.key
*-service-account*.json
*serviceAccount*.json
firebase-debug.log
firebase-debug.*.log
.firebase/
firestore-debug.log
ui-debug.log

# Environment / secrets
.env
.env.*
!.env.example
google-services.json
GoogleService-Info.plist

# EAS
.easignore
eas-build-local-nodejs/

# Build outputs
android/
ios/
*.apk
*.ipa
*.aab

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
